# Add any directories, files, or patterns you don't want to be tracked by version control

*.env
/node_modules
/public/hot
/public/storage
/public/assets
/storage/*.key
/.idea
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
